body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#track {
    position: relative;
	margin: 30px 30px 0px 0px;
}

/*#track img {
	
}*/

.number {
	height: 200px
}
.number h1 {
    text-align: center;
}

.caption h3 {
	text-align: center;
}

#car {
    /*margin-top: 20px;*/
    /*margin-bottom: 70px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 50px;
    /*background-image: url("../img/car.jpg");*/
    background-color: black;
}

.btn {
    margin: 0 5px;
}
